.badge-EB {
  color: #ffffff;
  background-color: #f35588;
}

.badge-DC {
  color: #ffffff;
  background-color: #05dfd7;
}

.badge-WP {
  color: #ffffff;
  background-color: #a3f7bf;
}

.badge-HD {
  color: #ffffff;
  background-color: #000000;
}

.badge-1 {
  color: #ffffff;
  background-color: #d63548;
}

.badge-2 {
  color: #ffffff;
  background-color: #ffb72c;
}

.badge-3 {
  color: #ffffff;
  background-color: #0f4c81;
}

.badge-4 {
  color: #ffffff;
  background-color: #61d4b4;
}